body {
  margin: 0;
  font-family: "Lucida Console", "Courier New", monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 200vh;
  background-repeat: no-repeat;
  background-size: cover;

  background-image: url("https://us.123rf.com/450wm/karenr/karenr1501/karenr150100115/35811630-purple-and-white-question-mark-symbol-pattern-repeat-background-that-is-seamless-and-repeats.jpg?ver=6");
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
